/* Generali */
* {
  box-sizing: border-box;
  margin: 0;
}

.page {
  width: 80%;
  margin: 40px auto;
}

body {
  background-image: url('../img/background-pagina.png');
}

.main,
.footer {
  font-family: 'Roboto';
}

/* header */
.header {
  margin-bottom: 10px;
  font-family: 'Montserrat';
}

.hero {
  position: relative;
  background-image: url('../img/background-banner.jpeg');
  height: 400px;
  background-position: center;
  background-size: cover;
  border: 15px solid #eee;
  border-radius: 5px 5px 0 0;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

#caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.navbar {
  background: #666;
  text-align: center;
  line-height: 50px;
  padding: 0;
  border-radius: 0 0 5px 5px;
}

.navbar li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;

}

.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}


/* Utilities */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Sezione principale */

.col{
  float: left;
}

.left {
  width: 25%;
  padding-right: 20px;
}

.center {
  width: 50%;
}

.right {
  width: 25%;
  padding-left: 20px;
}

.box {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  opacity: .8;
  border-radius: 10px;
}

.title {
  line-height: 20px;
  margin: 20px 0 50px;
  color: #222;
  opacity: .9;
}

/* Colonna sinistra */

.news {
  display: block;
  padding: 0 0 10px;
  text-transform: capitalize;
}

.fa-rss-square {
  float: left;
  color: #fcba03;
  font-size: 20px;
  margin: 20px 4px 50px;
}

/* Colonna centrale */
.paragraph {
  text-align: justify;
  line-height: 25px;
}

/* Colonna destra */
/* Non ha bisogno di stili dedicati */

/* Footer */
.footer {
  text-align: center;
  background: #fff;
  border-radius: 5px;
  color: #666;
}
.footer-text {
  line-height: 30px;
  border-bottom: 1px solid #222;
}

.social {
  padding: 0;
  list-style: none;
  line-height: 50px;
}

.social li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  font-size: 25px;
}

.social li a {
  text-decoration: none;
  color: #666;
}
